{% extends "base.html" %}

{% block content %}
<h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<ul id='chat-items'>
{% for chat in object.chatmessage_set.all %}

<li>{{ chat.message }} via {{ chat.user }}</li>

{% endfor %}
</ul>

<form id='form' method='POST'> {% csrf_token %}
    <input type="hidden" id="me" value = '{{user.username}}'>
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js" integrity="sha256-IxGLmHPQulZvYG3Kon9cB4ssL2JZ6EcP+nGHURmJe10=" crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
// websocket scripts
    var loc = window.location
    var formData = $('#form')
    var msgInput = $('#id_message')
    var chatHolder = $('#chat-items')
    var me = $('#me').val()

    var wsStart = 'ws://'
    if(loc.protocol == 'https:'){
        wsStart = 'wss://'
    }
    var endpoint = wsStart + window.location.host + window.location.pathname
    var socket = new ReconnectingWebSocket(endpoint)
    socket.onmessage = function(e){
        console.log("message",e)
        var chatDataMsg = JSON.parse(e.data)
        chatHolder.append("<li>"+ chatDataMsg.message + " via " + chatDataMsg.username +"</li>")

    }
    socket.onopen = function(e){
        console.log("open",e)
        formData.submit(function(event){
            event.preventDefault()
            var msgText = msgInput.val()
            // chatHolder.append("<li>"+ msgText + " via " + me +"</li>")
            var finalData = {
                'message': msgText
            }
            socket.send(JSON.stringify(finalData))
            formData[0].reset()
        }) 
    }
    socket.onerror = function(e){
        console.log("error",e) 
    }
    socket.onclose = function(e){
        console.log("close",e) 
    }
</script>
{% endblock %}